<h1>Flight booked</h1>

<p>
  Hi <%= @passenger.name %>,
</p>

<p>
  Your flight has been successfully booked.
</p>

<p>
  <strong>Booking reference:</strong>
  <%= @booking.id %>
</p>

<p>
  Thanks for flying with us!
</p>
